@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
  display: flex;
  gap: 20px;
}

.box {
  width: 120px;
  height: 120px;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

.box:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #ff758c, #be5581);
    animation: bounce 1.3s infinite;
}

@keyframes fadeIn{
    from{
        opacity: 0.8;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes bounce{
    0%,100%{
        transfrom:translateY(0);
    }
    50%{
        transform: translateY(-35px);
    }
}